.sidebar {
  top: 0px;
  left: 0px;
  max-width: 100%;
  height: 1080px;
  /* UI Properties */
  background: #015249 0% 0% no-repeat padding-box;
  border-radius: 0px 20px 20px 0px;
}
.sidebar .logo {
  top: 48px;
  left: 78px;
  width: 244px;
  height: 58px;
  background: transparent 0% 0% no-repeat padding-box;
  padding: 20px 60px;
}
.sidebar .cat-listing {
  margin: 30px 25px;
  width: 296px;
  height: 69px;
  background: #043933 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2509803922);
  border-radius: 10px;
}
@media (max-width: 1366px) {
  .sidebar .cat-listing {
    margin: 30px 30px;
  }
}
@media (max-width: 1366px) {
  .sidebar .cat-listing {
    width: 250px;
    margin: 30px 20px;
  }
}
@media (max-width: 1000px) {
  .sidebar .cat-listing {
    width: 200px;
    margin: 30px 20px;
  }
}
.sidebar .cat-listing ul li {
  list-style: none;
  margin-top: 100px;
}
.sidebar .cat-listing ul li .cat-listing-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 18px 15px;
  cursor: pointer;
}
@media (max-width: 1050px) {
  .sidebar .cat-listing ul li .cat-listing-row {
    padding: 18px 0px;
  }
}
.sidebar .cat-listing ul li .cat-listing-row .name {
  width: 146px;
  height: 24px;
  background: transparent 0% 0% no-repeat padding-box;
  color: white;
  font-size: 20px;
  font-weight: 500;
  font-style: inherit;
  padding: 3px 0px;
}

.dashboardLayout .row > * {
  padding: 0px;
}

.topbar {
  top: 0px;
  left: 353px;
  width: 100%;
  height: 100px;
  background: transparent 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 15px rgba(107, 107, 107, 0.1019607843);
}
.topbar .topbar_ban p {
  top: 53px;
  left: 469px;
  width: 253px;
  height: 48px;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  padding: 20px 0px;
}

.btn_main {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1080px;
  margin-top: 60px;
  min-width: 1000px;
}
.btn_main .row {
  width: 100%;
}
.btn_main .custom_button .button_add_user {
  background-color: #015249;
  border-radius: 5px;
  font-size: 20px;
  opacity: 1;
}
.btn_main .custom_button .button_add_user .span_plus {
  margin-right: 20px;
  font-size: 26px;
}

.container-home {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1080px;
  margin-top: 60px;
  min-width: 1000px;
}
.container-home .header-main {
  padding: 12px 0px;
  width: 1372px;
  height: 60px;
  background-color: #57bc90;
  background: transparent url("../images/Base2/Base@2x.png") 0% 0% no-repeat padding-box;
  background-size: 100%;
  border-radius: 10px;
}
.container-home .header-main .header span {
  color: #015249;
  font-size: 22px;
  font-style: inherit;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .container-home .header-main .header span {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  .container-home .header-main .header span {
    font-size: 14px;
  }
}

.container-details {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1080px;
  margin-top: 60px;
  min-width: 1000px;
}
.container-details .header-main {
  padding: 12px 0px;
  width: 1372px;
  height: 60px;
  background: transparent url("../images/white2.png") 0% 0% no-repeat padding-box;
  background-size: 100%;
  border-radius: 10px;
}
.container-details .header-main .header .data_details {
  padding: 36px;
}
html,
body {
  height: 100%;
  position: relative;
}

body {
  position: relative;
}

.container,
.actionbutton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.container .edit,
.actionbutton .edit {
  width: 106px;
  height: 33px;
  background: #b0e1b7 0% 0% no-repeat padding-box;
  border-radius: 5px;
  cursor: pointer;
}
.container .edit span,
.actionbutton .edit span {
  font-size: 16px;
  color: #38a147;
}
.container .delete,
.actionbutton .delete {
  width: 106px;
  height: 33px;
  background: #ef9999 0% 0% no-repeat padding-box;
  border-radius: 5px;
  cursor: pointer;
}
.container .delete span,
.actionbutton .delete span {
  font-size: 16px;
  color: #df2c2c;
}

.modal-content {
  width: 528px;
  height: 570px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3019607843);
  border-radius: 20px;
  opacity: 1;
}
.modal-content .modal-header {
  width: 528px;
  height: 144px;
  opacity: 1;
  background: transparent url("../images/BackgroundGreenModal.svg") 0% 0% no-repeat;
}
.modal-content .modal-header .modal-title {
  /* UI Properties */
  opacity: 1;
  color: #ffffff;
  font-size: 40px;
  margin: 50px;
}
.modal-content .modal-header .btn-close {
  margin-bottom: 80px;
}

.addemployee {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.addemployee .form_employee .form-control {
  width: 454px;
  height: 55px;
  border: 1px solid #dcdbdd;
  border-radius: 10px;
  opacity: 1;
}
.addemployee .form_employee .btn-submit {
  width: 454px;
  height: 55px;
  /* background: transparent url(img/Base.png) 0% 0% no-repeat padding-box; */
  border-radius: 10px;
  opacity: 1;
  background-color: #015249;
}
.addemployee .form_employee .form-text {
  color: red;
}/*# sourceMappingURL=style.css.map */